@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-size: 15px;
    font-family: Raleway, sans-serif;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    background-color: #F4F4F4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.btn-1 {
    height: 38px;
    background-color: #EB4442;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light {
    background-color: #E6E6E6;
    color: #2D2B3E;
}

.dark {
    background-color: #2D2B3E;
    color: white;
}

header {
    background-color: #2D2B3E;
    color: #FFF;
    min-height: 70px;
    border-bottom: 3px solid #EB4442;
    padding: 5px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
    padding: 0 20px;
}

header a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header .highlight, header#current a {
    color: #EB4442;
    font-weight: bold;
}

header a:hover {
    color: #CCC;
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    background-image: url(laptop.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #FFF;
}

#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

#newsletter {
    background-color: #2D2B3E;
    padding: 15px;
    color: #FFF;
}

#newsletter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newsletter input {
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes {
    margin-top: 20px;
}

#boxes .container {
    display: flex;
    justify-content: space-between;
}

#boxes .container .box {
    width: 30%;
    text-align: center;
    padding: 10px;
}

#boxes .box i {
    font-size: 225px;
    margin: auto;
}

#boxes .box .fa-html5 {
    color: #D45632;
}

#boxes .box .fa-css3-alt {
    color: #2D50DC;
}

#boxes .box .fa-js {
    color: #F3DF50;
}

#about {
    background-color: #2D2B3E;
    padding: 20px;
}

#about .container {
    display: grid;
    grid-template-columns: 2fr 1 fr;
    grid-column-gap: 50px;
}

#about .main-col {
    color: #FFF;
}

#about .sidebar {
    margin-top: 10px;
}